@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.navbar-brand {
  font-weight: bold;
}

.bg-image-banner {
  position: relative;
  background-image: url('../img/cementerio.webp');
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.bg-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
  position: relative;
  z-index: 2;
}

.btn-gold {
  background-color: #d4af37;
  color: #000;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-gold:hover {
  background-color: #b78b00;
  transform: scale(1.03);
}

.map-placeholder {
  font-size: 1.1rem;
}
